# Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.Python
2.Julia
3.R

Some of the commonly used libraries used by Data Scientists include:
1.Numpy
2.Pandas
3.Tensorflow

In [ ]:
from IPython.display import Markdown, display

# Define the table contents
table = "| Tool | Description |\n| --- | --- |\n| NumPy | Numerical computing library |\n| Pandas | Data manipulation and analysis library |\n| Matplotlib | Data visualization library |\n| Scikit-learn | Machine learning library |\n| TensorFlow | Open-source machine learning platform |\n| Keras | High-level neural networks API |\n| PyTorch | Open-source machine learning library |\n| Seaborn | Data visualization library |\n| SciPy | Scientific computing library |\n| NLTK | Natural language processing library |\n| Statsmodels | Statistical modeling library |"

# Create the Markdown cell
display(Markdown(table))

| Tool | Description |
| --- | --- |
| NumPy | Numerical computing library |
| Pandas | Data manipulation and analysis library |
| Matplotlib | Data visualization library |
| Scikit-learn | Machine learning library |
| TensorFlow | Open-source machine learning platform |
| Keras | High-level neural networks API |
| PyTorch | Open-source machine learning library |
| Seaborn | Data visualization library |
| SciPy | Scientific computing library |
| NLTK | Natural language processing library |
| Statsmodels | Statistical modeling library |

In [ ]:
from IPython.display import Markdown, display

# Define the Markdown string with the H3 heading
md = "### Below are a few examples of evaluating arithmetic expressions in Python\n"

# Add the Markdown string to the existing Markdown cell
display(Markdown(md))

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
(3*4)+5

17

this a simple arithmetic expression to mutiply then add integers

In [ ]:
# Define the value in minutes
minutes = 120

# Convert minutes to hours
hours = minutes / 60

# Print the result
print(f"{minutes} minutes is equal to {hours} hours")

120 minutes is equal to 2.0 hours

This will convert 200 minutes to hours by diving by 60

## Author LIU XIAOQUAN